#footer{
    width:1200px;
    height:100px;
    background-color: brown;
}

#footer>.logo
{
    float:left;
    width:200px;
    height:100px;
    background-color: cornsilk;

    padding-top:30px;
    box-sizing: border-box;
}

#footer>.copyright
{
    float:left;
    width:800px;
    height:100px;
    background-color: crimson;
}

#footer>.family
{
    float:left;
    width:200px;
    height:100px;
    background-color: cyan;
}