*{
    margin: 0;
    padding:0;
}

@font-face
{
    src:url("../fonts/Cafe24Ohsquare.ttf");
    font-family: "anemone";
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

#wrap
{
    width:100%;
    height:1000px;
    background: gray;
}

#header
{
    width:100%;
    height:70%;
    background: white;
}

#header>img:first-child
{
    position: absolute;
    left:200px;
    top:100px;
}

#header>img:nth-child(3)
{
    position: absolute;
    left:600px;
    top:200px;
}

#header>#text
{
    position: absolute;
    left:200px;
    top:200px;
}

#header>#text>#head_text
{
    margin-bottom: 20px;
    font-family: "anemone";
}

#header>#text>#head_text>h3:first-child
{
    font-size:48px;
    color:gray;
    font-weight: bold;
}

#header>#text>#head_text>h3:nth-child(2)
{
    font-size:48px;
    color:gray;
    font-weight: bold;
}

#header>#text>#head_text>h3:nth-child(2)>span
{
    color:red;
}

#header>#text>#main_text
{
    font-size:18px;
    color:grey;
}

#header>#text>#main_text>.text1
{
    font-weight:bold;
    margin-bottom: 20px;
}

#header>#text>#main_text>.text2
{
    margin-bottom: 20px;
}

#date_text
{
    margin-bottom: 20px;
    font-family: "anemone";
}

#date_text>.text1
{
    font-size:24px;
}

#date_text>.text1>li>span:first-child
{
    color:blue;
    font-weight: bold;
}

#main
{
    width:100%;
    height:20%;
    background: yellow;
}

#main>img
{
    width:100%;
    height:100%;
}

#footer
{
    width:100%;
    height:10%;
    background: black;
}