#contents>#cont1
{
    float:left;
    width:480px;
    height:200px;
    background: #ffffff;
}

.tab{
    padding-top: 10px;
    padding-left:5px;
    box-sizing: border-box;
}

.tab>.tab_btn{
    margin-bottom: 5px;
}

.tab>.tab_btn>a{
    display: inline-block;
    width:150px;
    height:40px;
    background: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color:#333333;
}

.active{
    border-bottom:2px solid #0066ad;
}

.tab_contents>div:first-child{
   background: #ffffff;
   
}

.notice_list{
    
}

.notice_list>li>a>span:first-child
{
    width:300px;
    height:30px;
    display:inline-block;
    background: #ffffff;
    color:#333333;
}

.notice_list>li>a>span:nth-child(2)
{
    width:100px;
    height:30px;
    display:inline-block;
    background: #ffffff;
    color:#333333;
}

.tab_contents>div:nth-child(2){
  background: #ffffff;
  display: none;
}

.gallery_list
{
    position: relative;
    top:10px;
}

.gallery_list>li
{
    float:left;
    margin-right:20px;
}

#contents>#cont2
{
    float:left;
    width:360px;
    height:200px;
    background: #ffffff;
}

#contents>#cont3
{
    float:left;
    width:360px;
    height:200px;
    background: #ffffff;
}
