#header>.logo
{
    float:left;
    width:200px;
    height:100px;
    background: #ffffff;
}

#header>.logo>img
{
    transform: scale(0.7);
    position: relative;
    left:-30px;
    top:10px;
}

#header>.nav
{
    float:left;
    width:1000px;
    height:100px;
    background: #ffffff;
}

#header>.nav>.gnb
{
    float:right;
    margin-top:20px;
    margin-right: 20px;
}

#header>.nav>.gnb>li
{
    float:left;
}

#header>.nav>.gnb>li>a
{
    display:block;
    width:120px;
    height:40px;
    
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
    
}

.lnb>li>a
{
    display:block;
    width:120px;
    height:40px;
    background: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color:#333333;
}

.gnb li a:hover{
    background: #0066ad;
    color:#fff;
}

.lnb{
    display:none;
}