  * {
      padding: 0;
      margin: 0;
  }
  
  a {
      text-decoration: none;
  }
  
  li {
      list-style: none;
  }
  
  #app{
      width:80%;
      height:400px;
      background-color: royalblue;
      margin:50px auto;
      border-radius: 20px;
      
  }

  #input_area{
      width:80%;
      height:100px;
      background-color: rebeccapurple;
  }

  #input_area>input{
      width:300px;
      height:50px;
      border-radius: 20px;
  }

  #input_area>button{
    width:100px;
    height:50px;
    border-radius: 20px;
  }

  #todolist_area{
    width:80%;
    height:300px;
    background-color: sandybrown;
  }

  .checked {
      text-decoration: line-through;
  }