#header #top{
    width:100%;
    height:60%;
    background: gold;
}

#header #top .left_list{
    float:left;

    margin-left:300px;
}

#header #top .left_list a img{
    width:240px;
    height:120px;

}

#header #top .left_list input{
    margin-top: 50px;
    width:550px;
    height:40px;

    margin-right:30px;

    border-radius: 30px;
    border:2px solid royalblue;
}

#header #top .left_list .search img{
    position: relative;
    left:-100px;

    width:20px;
    height:20px;
}

#header #top .left_list li{
    float:left;
    
}

#header #top .right_list{
    float:right;

    margin-right:340px;
 
}

#header #top .right_list li{
    float:left;
    padding-top: 35px;
    margin-right:25px;
}

#header #bottom{
    width:100%;
    height:60%;
    background: greenyellow;
}
