#car_components{
    width:1800px;
    background-color: aqua;
    margin:0 auto;
}

#car_component{
    display:inline-block;
    border:1px solid black;
    /*box-sizing: border-box;*/
    width:300px;
    height:300px;
    position: relative;
    margin:10px;
}

#car_component>div:first-child{
    width:300px;
    height:200px;
}

#car_component>div:first-child>img{
    width:100%;
    height:100%;
}

div#car_component:nth-child(even){
    color:red;
}

div#car_component:nth-child(odd){
    color:blue;
}

#car_component>#desc>#left{
    float:left;
    width:150px;
    height:70px;
    background-color: crimson;
}

#car_component>#desc>#left>div>span:first-child{
    color:#999;
    margin-right:5px;
}
#car_component>#desc>#left>div>span:nth-child(2){
    color:#333;
}

#car_component>#desc>#right{
    float:left;
    width:150px;
    height:70px;
    background-color: cornflowerblue;
}

#car_component>#desc>#right>div>span:first-child{
    color:#999;
    margin-right:5px;
}
#car_component>#desc>#right>div>span:nth-child(2){
    color:#333;
}

#car_component>button{
    width:100%;
    height:40px;
}