#wrap
{
    width:300px;
    height:300px;
    background: hotpink;
}

.span1
{
    width:100px;
    height:100px;
    background: aqua;
}

.span2
{
    width:100px;
    height:100px;
    background: blue;
}