ol
{
    list-style-type: none;
}

#wrap
{
    width:450px;
    height:950px;
    background: red;
    border-radius: 10px;
}

#wrap>ol
{
    width:400px;
    height:950px;
    background: green;
    border-radius: 10px;
}

#wrap>ol>li
{
    width:220px;
    height:160px;
    background: blue;
    border-radius: 10px;

    margin-left:50px;
    margin-bottom: 20px;

    color:white;
    font-weight: bold;
    /*
    margin: 10px;
    -위,오른쪽,아래,왼쪽 다 10px

    margin: 10px 20px;
    -위:10px, 오른쪽:20px,왼쪽:20px, 아래 10px

    margin: 10px 20px 30px;
    -위:10px, 오른쪽:20px, 왼쪽:20px, 아래 30px

    margin: 10px 20px 30px 40px;
    -위:10px, 오른쪽:20px, 아래:30px, 왼쪽:40px
    */
    


}

#wrap>ol>li>img
{
    width:100px;
    height:100px;
    border-radius: 10px;
}