ul
{
    list-style-type: none;
}

#wrap
{
    width:800px;
    height:50px;
    background: white;
    border:1px solid gray;

    padding-left: 150px;
    box-sizing: border-box;
    /* 패딩때문에 박스크기가 늘어난다면 사용*/
}

#wrap>ul
{
    width:600px;
    height:35px;
    /*
    background: rebeccapurple;
    */
}

#wrap>ul>li
{
    float:left;
    margin-right:5px;
}

.grade_12
{
    font-size: 12px;
    color:white;
    border-radius: 70%;
    background: dodgerblue;
    width:30px;
    height:30px;

    padding-left:8px;
    padding-top: 7px;
    box-sizing: border-box;
    /*
    패딩때문에 늘어나면
    패딩값을 내부에 포함시킨다.
    */
    display:inline-block;
}

.grade_15
{
    font-size: 12px;
    color:white;
    border-radius: 70%;
    background: orange;
    width:30px;
    height:30px;

    padding-left:8px;
    padding-top: 7px;
    box-sizing: border-box;
    /*
    패딩때문에 늘어나면
    패딩값을 내부에 포함시킨다.
    */
    display:inline-block;
}

.grade_adult
{
    font-size: 10px;
    color:white;
    border-radius: 70%;
    background: red;
    width:30px;
    height:30px;

    padding-left:5px;
    padding-top: 7px;
    box-sizing: border-box;
    /*
    패딩때문에 늘어나면
    패딩값을 내부에 포함시킨다.
    */
    display:inline-block;
}

.grade_all
{
    font-size: 12px;
    color:white;
    border-radius: 70%;
    background: green;
    width:30px;
    height:30px;

    padding-left:3px;
    padding-top: 7px;
    box-sizing: border-box;
    /*
    패딩때문에 늘어나면
    패딩값을 내부에 포함시킨다.
    */
    display:inline-block;
}

