*{
    margin:0;
    padding:0;
}

ul
{
    list-style-type: none;
}

#wrap
{
    width:1000px;
    height:600px;
    background: aqua;
}

#wrap>#header
{
    width:1000px;
    height:100px;
    background: blueviolet;
}

#header>.logo
{
    width:200px;
    height:100px;
    background: chartreuse;
    
    float:left;
}

#header>.logo>img
{
    width:100%;
    height:100%;
}

#header>.nav
{
    width:800px;
    height:100px;
    background: chocolate;

    float:left;
}

#header>.nav>ul
{
    width:400px;
    height:100px;
    background: darkslateblue;

    float:right;

    padding-left: 40px;
    box-sizing: border-box;
}

#header>.nav>ul>li
{
    float:left;
    
    margin-top:20px;
    text-align: center;

    border: 1px solid gray;
}

#header>.nav>ul>li>a
{
    text-decoration: none;

    display:block;
    width:100px;
    height:50px;
    background: deepskyblue;

    padding-top: 15px;
    box-sizing: border-box;
    color:black;
    font-weight:bold;
}

#wrap>#contents
{
    width:1000px;
    height:400px;
    background: brown;
}

#wrap>#footer
{
    width:1000px;
    height:100px;
    background: blue;
}