*{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

#wrap
{
    width:490px;
    height:230px;
    /*background: aqua;*/
}

#header
{
    width:490px;
    height:50px;
    /*background: aquamarine;*/
}

#header>h1
{
    display: inline;
    font-size: 20px;

    margin-right:280px;
    margin-left:10px;
}

#header>span
{
    font-size:16px;
    color:gray;
}

#contents
{
    width:490px;
    height:180px;
    /*
    background: blue;
    */
    
}

#contents>ul
{
    margin-left:10px;
}

#contents>ul>li
{
    float:left;

    margin-right: 20px;
}

#contents>ul>li>a
{
    text-decoration: none;
}

#contents>ul>li>a>img
{
    width:100px;
    height:100px;
    border-radius: 10px;
}

#contents>ul>li>a>span
{   
    color:black;
    display:block;
    width:90px;
}