form
{
    width:400px;
    height:250px;
    background: #037ca0;

    padding-left: 20px;
    padding-top: 30px;
    box-sizing: border-box;
}

form>label:first-child
{
    color:blue;
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 10px;
    margin-right: 20px;

    display: inline-block;
}

form>input:nth-child(2)
{
    width:200px;
    height:40px;
    margin-bottom: 30px;
}

form>label:nth-child(4)
{
    color:red;
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 10px;

    display: inline-block;
}

form>input:nth-child(5)
{
    width:200px;
    height:40px;
    margin-bottom: 30px;
}