

.up, .down, .right, .left
{
    background: url("../images/image_sprites.png");
}

/*각 이미지의 개별 가로 세로와 좌표 지정*/
.up 
{
    width:21px;
    height:20px;

    background-position:0,0;
}

.down
{
    width:21px;
    height:20px;

    background-position:-21px,0;
}

.left
{
    width:21px;
    height:20px;

    background-position:-42px,0;
}

.right 
{
    width:21px;
    height:20px;

    background-position:-65px,0;
}