#wrap
{
   width:1200px;
    height:1000px;
    background: aqua;
}

#header
{
            width:1200px;
            height:200px;
            background: antiquewhite;
        }

        #contents
        {
            width:1200px;
            height:600px;
            background: aquamarine;
        }

        #footer
        {
            width:1200px;
            height:200px;
            background: crimson;
        }