#car_components{
    width:1800px;
    background-color: aqua;
}

#car_component{
    display:inline-block;
    border:1px solid black;
    box-sizing: border-box;
    width:360px;
}

div#car_component:nth-child(even){
    color:red;
}

div#car_component:nth-child(odd){
    color:blue;
}
