#contents>#cont1
{
    float:left;
    width:40%;
    height:200px;
    background: darkgreen;

    position: relative;
}

.notice
{
    width:350px;
    height:150px;
    border: 1px solid red;
    background: chocolate;

    position: absolute;
    left:20px;
    top:10px;
}

.notice>h3
{
    width:100px;
    height:40px;
    background: green;

    padding-left:5px;
    padding-top:5px;
    box-sizing: border-box;
}

.notice>.notice_list
{
    width:450px;
    height:120px;
    background: yellowgreen;
}

.notice>.notice_list>li>a
{
    display: inline-block;
    width:300px;
    height:20px;
    background: hotpink;
    border: 1px solid blue;

    padding:4px;
    margin-right:-7px;
}

.notice>.notice_list>li>span
{
    display: inline-block;
    width:100px;
    height:20px;
    background: honeydew;
    border: 1px solid blue;

    padding:4px;
}

#contents>#cont2
{
    float:left;
    width:30%;
    height:200px;
    background: darkkhaki;

    position: relative;
}

#cont2>.gallery
{
    width:330px;
    height:150px;
    background: burlywood;

    position:absolute;
    left:20px;
    top:10px;
}

#cont2>.gallery>ul>li
{
    float:left;
    margin-right:5px;
}

#cont2>.gallery>ul>li>img
{
    width:100px;
    height:100px;
}

#cont2>.gallery>h3
{
    width:100px;
    height:30px;
    background: green;

    padding-left: 10px;
    box-sizing: border-box;
}

#contents>#cont3
{
    float:left;
    width:30%;
    height:200px;
    background: darkorange;
}

#cont3>img
{
    margin-top:5px;
}