#header>.logo
{
    float:left;
    width:200px;
    height:100px;
    background: #ffffff;
}

#header>.nav
{
    float:left;
    width:1000px;
    height:100px;
    background: #ffffff;
}

#header>.logo>img
{
    margin-top:30px;
}

#header>.nav>.gnb{
    float:right;
    margin-top:20px;
    margin-right:20px;
}

#header>.nav>.gnb>li
{
    float:left;
}

#header>.nav>.gnb>li>a
{
    display: block;
    width:100px;
    height:60px;
    
    /*
    background: indianred;
    */
    
    text-align: center;
    font-weight: bold;
    font-size:16px;
     
    padding-top:10px;
    box-sizing: border-box;
}

.gnb li a:hover
{
    background: #222328;
    color:#fff;
}



.lnb>li>a
{
    display: block;
    width:100px;
    height:60px;

    background: #fff;
    color:#222328;

    text-align: center;
    font-weight: bold;
    font-size:16px;
     
    padding-top:10px;
    box-sizing: border-box;
}

.lnb{
    display: none;
    /*
    안보여줌
    
    */
}

