#popup
{
    width:500px;
    height:500px;
    background: #ffffff;
    border:1px solid #222328;
    position: absolute;
    /*
    position:aboslute면

    상위요소중에
    relative나
    absolute인것 기준으로

    얼만큼 간다.
    */

    left:35%;
    top:15%;
    z-index: 9;

    display: none;   
}

#popup>div:first-child
{
    background: #ffffff;
    display: inline;

    position: relative;
    left:150px;
    top:20px;
    
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

}

#popup>div:nth-child(2)
{
    width:75%;
    height:400px;
    background: #ffffff;

    position: relative;
    left:70px;
    top:40px;
}

#popup>div:nth-child(2)>p
{
    background: #ffffff;
    margin-bottom: 10px;
}

#popup>div:nth-child(3)
{
    position: absolute;
    left:447px;
    top:445px;
}