
#container>.login_form
{

    width:460px;
    height:224px;

    background: darkcyan;

    position: absolute;
    left:150px;
}

#container>.login_form>.id_area
{
    width:460px;
    height:47px;

    background: darkgray;

    padding-left: 5px;
    padding-top: 5px;
    box-sizing: border-box;

    margin-bottom: 10px;
}

#container>.login_form>.id_area>.input_row
{
    width:412px;
    height:29px;

    background: firebrick;

}

#container>.login_form>.id_area>.input_row>.input_box
{
    width:411px;
    height:28px;

    background: forestgreen;
}

.id_area>.input_row>.input_box>#id
{
    width:411px;
    height:28px;
    background: white;

    font-size:14px;
    color:black;
}

#container>.login_form>.pw_area
{
    width:460px;
    height:47px;

    background: darkkhaki;

    padding-left: 5px;
    padding-top: 5px;
    box-sizing: border-box;

    margin-bottom: 10px;
}

#container>.login_form>.pw_area>.input_row
{
    width:412px;
    height:29px;

    background: firebrick;
}

#container>.login_form>.pw_area>.input_row>.input_box
{
    width:411px;
    height:28px;

    background: forestgreen;
}

.pw_area>.input_row>.input_box>#pw
{
    width:411px;
    height:28px;
    background: white;

    font-size:14px;
    color:black;
}

#container>.login_form>#login
{
    width:458px;
    height:54px;

    color:white;
    background: #03C75A;

    border:none;
}

.check_info
{
    width:458px;
    height:40px;
    background: cornflowerblue;
}

.check_info>.login_check
{
    background: crimson;
    float:left;
}

.check_info>.pc_check
{
    background: cyan;
    float:right;     
}