#footer>#left
{
    float:left;
    width:1000px;
    height:100px;
    background: #f2f2f2;
}

#footer>#left>.bottom
{
    width:1000px;
    height:50px;
    background: #f2f2f2;
    
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.bottom>.botNav>li
{
    float:left;
    margin-right: 10px;
}


#footer>#left>.copyright
{
    width:1000px;
    height:50px;
    background: #f2f2f2;
    
    padding-left: 5px;
    padding-top: 5px;
    box-sizing: border-box;
}

#footer>.family
{
    float:left;
    width:200px;
    height:100px;
    background: #f2f2f2;
    
    padding-left: 15px;
    padding-top: 25px;
    box-sizing: border-box;
}

.family>select
{
    width:150px;
    height:50px;
    font-size:14px;
}
