#popup
{
    width:500px;
    height:500px;
    background-color: #f2f2f2;
    
    left:35%;
    top:10%;
    z-index: 9;
    position: fixed; 
    border:2px solid grey;
    display:none;
}

#popup>div:first-child
{
    border-bottom: 2px solid black;
    font-size:24px;
    font-weight: bold;
    width:80%;
    height:40px;
    
    position: relative;
    left:60px;
    top:20px;
}

#popup>div:nth-child(2)
{
    position:relative;
    left:60px;
    top:60px;
    
    font-size:20px;
    width:75%;
    height:100px;
    background-color: #f2f2f2;
}

#popup>div:nth-child(3)
{
    position:relative;
    left:80px;
    top:150px;
    
    font-size:20px;
    width:70%;
    height:80px;
    background-color: #f2f2f2;
}

#popup>div:nth-child(3)>ul>li
{
    list-style-type: circle;   
}

#popup>#closeBtn
{
    font-size:20px;
    text-align: center;
    padding-top:5px;
    box-sizing: border-box;
    color: white;
    background-color: #333333;
    
    width:100px;
    height:40px;
    
    position: absolute;
    left:200px;
    top:450px;
}



