#login_header
{
    width:400px;
    height:156px;
    background: blue;

    padding-top: 76px;
    padding-bottom: 60px;
    padding-left: 70px;
    box-sizing: border-box;
}

#login_header>img
{
    width:251px;
    height:20px;
}

form>input
{
    width:340px;
    height:50px;

    margin-left: 30px;
    margin-bottom: 10px;

    color:gray;

    padding-left: 10px;
    box-sizing: border-box;
}

form>#login_btn
{
    background: black;
    color:white;
    font-size:16px;
    
    width:340px;
    height:60px;

    border: none;
}

#auto_login
{
    width:400px;
    height:30px;
    background: chartreuse;
}

#bot_menu
{
    width:400px;
    height:100px;
    background: coral;
}