*{
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

#wrap
{
    width:100%;
    height:1000px;
    background: gray;
}

#header
{
    width:100%;
    height:70%;
    background: white;
}

#main
{
    width:100%;
    height:20%;
    background: yellow;
}

#footer
{
    width:100%;
    height:10%;
    background: black;
}